# Shared
BRANCH=main

# brain
OPENAI_API_KEY=

# slack
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_SIGNING_SECRET=
ADMIN_CHANNEL=

# meta
META_VERIFY_TOKEN=
META_APP_SECRET=
META_SLACK_CHANNEL=
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_ACCESS_TOKEN_CARLOS=
INSTAGRAM_ACCESS_TOKEN_INGLESCONLIZA=
CLOUD_API_ACCESS_TOKEN=
WA_PHONE_NUMBER_ID=

# twilio
SLACK_SMS_CHANNEL=
